.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.item {
  padding: 50px;
  min-width: 250px;
  color: white;
  align-items: center;
  margin-right: 36px;
}

.name-color {
  color: white;
}

a:link {
  text-decoration: none;
}
