.navbar-lewagon {
  justify-content: space-between;
  background: #301E67;
  text-decoration: none;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h2 {
  color: white;
  text-align: left;
}

.text {
  color: white;
  width: 100%;
}

#add-list {
  font-family: $body-font;
}
